/* --- ESTILOS GERAIS --- */
body { 
    font-family: 'Inter', sans-serif; 
    transition: filter 0.3s ease; 
}
.serif-title { font-family: 'Instrument Serif', serif; }
.bg-custom-light { background-color: #C2E0B1; }
.bg-custom-dark { background-color: #76A361; }
.header-glass { background-color: rgba(230, 230, 230, 0.85); }

/* --- FILTROS DE ACESSIBILIDADE --- */
.protanopia { filter: saturate(0.5) hue-rotate(-20deg) brightness(0.9); }
.deuteranopia { filter: saturate(0.5) hue-rotate(-45deg); }
.tritanopia { filter: hue-rotate(180deg) saturate(0.6); }
.achromatopsia { filter: grayscale(1); }

.alto-contraste { filter: contrast(200%) brightness(110%); }
.contraste-invertido { filter: invert(100%) hue-rotate(180deg); }

.modo-escuro {
    background-color: #1a1a1a !important;
    color: #ffffff !important;
}



/* --- ESTILOS DE LOGIN/REGISTO --- */
.bg-login-left { background-color: #C2E0B1; }
.bg-login-right { background-color: #76A361; }

/* Classe utilitária para os inputs do Protege+ */
.input-protege {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 1.5rem; /* rounded-3xl */
    padding: 1rem 1.5rem;
    color: white;
    outline: none;
    transition: all 0.3s ease;
}

.input-protege::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

/* --- ESPECÍFICO DO QUIZ --- */
.bg-custom-light { 
    background-color: #C2E0B1; 
}
.quiz-card {
    background: #C2E0B1;
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.progress-line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background: rgba(37, 77, 26, 0.2);
    z-index: 1;
    transform: translateY(-50%);
}

/* --- BARRA DE PROGRESSO DO REGISTO --- */
.step-dot { 
    width: 18px; 
    height: 18px; 
    border-radius: 50%; 
    border: 3px solid #3d5a2d; 
    background: transparent; 
    transition: all 0.3s; 
}
.step-dot.active { background: #3d5a2d; }

.step-line { 
    height: 4px; 
    background: #3d5a2d; 
    flex-grow: 1; 
    opacity: 0.3; 
    transition: all 0.3s; 
}
.step-line.active { opacity: 1; }

/* --- ESPECÍFICO DE SOBRE NÓS --- */
.contact-card {
    background-color: #76A361; /* bg-custom-dark */
    padding: 0.25rem;
    border-radius: 50px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border: 4px solid white;
}

#simulador
.phishing-trigger {
            text-decoration: underline wavy #ff4444;
            cursor: pointer;
            transition: all 0.3s;
        }
        .phishing-trigger:hover {
            color: #ff4444;
            background: rgba(255, 68, 68, 0.1);
        }